{{message}}
{% extends "base.html" %}
{% block title %}Create a New Post{% endblock %}

{% block content%}
<a href="/"><input name="home" type="button" value="Home"/></a>

    <section>
      <header>
        <h1>Create Post</h1>
      </header>
    </section>

      <main>
        <section >
          <form method="POST" action="/create">

            <fieldset>
            <legend>Create a New Blog Post</legend>

            <label>Title:
            <input id="title" type="text" name="title" value="{{form.title.data or ""}}" required>
            </label>
            <br>
            <label>Body:
            <textarea value="{{form.text.data or ""}}" rows="4" columns="30" name="text" placeholder="Post Content" required></textarea><br>

            <input type="submit" id="savePost" class="savePost" name="savePost" value="Submit"/>
            </label>
            </fieldset>
          </form>
          <div><ul>{% for e in form.errors %}{% for message in form.errors[e] %}<li>{{e}}: {{message}}</li>{% endfor %}{% endfor %}</div>
        </section>

      </main>
  {% endblock %}
