{% extends "base.html" %}

{% block title %}Single Post{% endblock %}
{% block content %}
<div class="container col-md-5 col-md-offset-2">
    <div class="row">
            <article class="detail">
            <h2> {{ post.title }}</h2>
            <p> {{ post.created | datetimeformat }} </p>
            <section> {{ post.text | markdown | safe }} </section>
            </article>
            <br>
            <div class="btn-group">
             <a href="{{request.route_url('edit', post_id=post.id)}}" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>
{% endblock %}
