{% extends "base.html" %}

{% block title %}{{ use_case }}{% endblock %}


{% block content %}

    <section>
      <header>
        <h1>{{use_case}} Post</h1>
      </header>
    </section>

    <main>
      <div class="container col-md-5 col-md-offset-2">
        <section>
          <form method='POST' action='' class="form-horizontal">
            <div class="input">{{form.title.label}}: {{ form.title() }}</div>
            <div class="textarea">{{form.text.label}}: {{ form.text() }}</div>
            <div>
              <ul>
                {% for e in form.errors %}
                  {% for message in form.errors[e] %}
                    <li>{{e}}: {{message}}</li>
                    {% endfor %}
                  {% endfor %}
                  </ul>
            </div>
          </form>
        </section>
        <div class="edit"><INPUT TYPE="submit" VALUE="Submit"></div>
      </div>
    </main>
{% endblock %}
