{% extends "base.html" %}

{% block title %}{{ use_case }}{% endblock %}


{% block content %}
<a href="/"><input name="home" type="button" value="Home"/></a>

    <section>
      <header>
        <h1>{{use_case}} Post</h1>
      </header>
    </section>

      <main>
        <section >
<form method='POST' action=''>
        <div>{{form.title.label}}: {{ form.title() }}</div>
        <div>{{form.text.label}}: {{ form.text() }}</div>


          <div><ul>{% for e in form.errors %}{% for message in form.errors[e] %}<li>{{e}}: {{message}}</li>{% endfor %}{% endfor %}</div>
        </section>
          <div><INPUT TYPE="submit" VALUE="submit"></div>
        </form>
          </section>

      </main>
{% endblock %}
