
<a href="/"><input name="home" type="button" value="Home"/></a>

 <body>
    <section>
      <header>
        <h1>Edit Post</h1>
      </header>
    </section>

      <main>
        <section >
        <form id="submitPost" method="submit">

          <fieldset>
          <legend>Edit a Blog Post</legend>

          <label>Title:
          <input id="title" type="text" name="title" value="{{post.title}}" required>
          </label>
          <br>
          <label>Body:
          <textarea id="body" rows="4" columns="30" name="body" required>{{post.text}}</textarea><br>

          <input type="submit" id="savePost" class="savePost" name="savePost" value="Submit"/>
          </label>
          </fieldset>
        </form>
          </section>

      </main>
    </body
