{% extends "base.html" %}
        {% block title %}Home/List view{% endblock %}

        {% block content %}
     <a href="/create"><input name="create" type="button" value="Create"/></a>
    {% for post in posts %}


   <a href="{{request.route_url('detail', post_id=post.id)}}" ><h3> {{ post.title }} </h3></a>
   <p> {{ post.created | datetimeformat }} </p>
   <p> {{ post.text | markdown | safe }} </p>

   <br>

    {% endfor %}

{% endblock %}

