<!DOCTYPE html>

<html>
    <head>
        <title>Home/List view</title>
    </head>

    <body>

    {% for post in posts %}

   <li> {{ post.title }} </li>
   <li> {{ post.text }} </li>
   <li> {{ post.created }} </li>

    {% endfor %}

    </body>



</html>

